---

import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import { Button } from '@/components/ui/button'
import Layout from '@/layouts/Layout.astro'
import { Image } from 'astro:assets'
import Authors from '@/components/Authors.astro'


import cities from "@/data/cities.json"

export const prerender = false;

type Props = {
  id: number; 
  name: string; 
  slug: string; 
  province_id: number;
}

export async function getStaticPaths() {
  
    
  return cities.map((city) => ({
    params: { id: city.slug },
    props: city,
  }))
}



const city = Astro.props


---

<Layout
  title={`کافی نت دی در شهر ${city.name}`}
  description={``}
  image={'/static/daynetcafe-digital-banner.png'}
>
  <section
    class="grid grid-cols-[minmax(0px,1fr)_min(768px,100%)_minmax(0px,1fr)] gap-y-6 *:px-4"
  >
  <Breadcrumbs
      items={[
        { href: '/location/cities', label: 'شهر', icon: 'lucide:archive' },
        { label: city.name, icon: 'lucide:file-text' },
      ]}
      class="col-start-2"
    />

    <Image
          src={"/static/daynetcafe-digital-banner.png"}
          alt={` کافی نت دی در شهر ${city.name} - کافی نت دی؛ کافی نتی روستایی با دسترسی جهانی`}
          width={1200}
          height={630}
          class="col-span-full mx-auto w-full max-w-[1000px] object-cover"
        />

    <section class="col-start-2 flex flex-col gap-y-6 text-center">
      <div class="flex flex-col gap-y-4">
        <h1 class="text-4xl font-bold leading-tight sm:text-5xl">
          کافی نت دی در شهر {city.name}
        </h1>
      </div>

      <!-- <PostNavigation prevPost={prevPost} nextPost={nextPost} /> -->
    </section>


    <article
      class="prose prose-neutral col-start-2 max-w-none dark:prose-invert mt-10"
    >
        <h2>درباره کافی نت دی</h2>
        <p>شما عزیزان می توانید از خدمات کافی نت دی در شهر {city.name} بهره مند شوید. </p>
        <p>برای انجام کارهای کافی نتی خودتون می تونید روی ما حساب کنید. آنلاین یا حضوری، کافی نت دی در خدمت شماست. </p>
        <p>در کافی نت دی ما از پیشرفته ترین و به روز ترین نرم افزارها و روش های انجام پروژه ها برای ارائه خدمات استفاده میکنیم.</p>
        <h2>کافی نتی روستایی با دسترسی جهانی</h2>
        <p>شعار کافی نت دی، "کافی نتی روستایی با دسترسی جهانی" است. دلیل پشت این شعار این هستش که برای ارائه خدمات در سطح جهانی، نیاز نیست که حتما در شهر های بزرگ حضور داشته باشیم. </p>
        <h2>کافی نت دی کجاست؟ </h2>
        <p>کافی نت دی در روستای آق قایه شهرستان گنبد کاووس واقع شده است. </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12701.042569983185!2d55.1486213!3d37.265246000000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f82bf0033d338fd%3A0x6645a3b1d5380b42!2z2qnYp9mB24wg2YbYqiDYr9uM!5e0!3m2!1sen!2s!4v1736915832394!5m2!1sen!2s" class="aspect-video w-full rounded-md" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p>اما با توجه به اینکه ما در کافی نت دی خدمات مان را به صورت آنلاین ارائه می دهیم، می توانیم به نیاز های شما هموطنان در سایر نقاط ایران نیز پاسخگو باشیم. اینترنت بستری رو برای ما فراهم کرده که می توانیم به آسانی این کار رو انجام بدهیم. </p>
        <Button variant={"ghost"} className="not-prose">
          <Link href="/services" title="خدمات ما">خدمات ما ←</Link>
        </Button>
        <p>همینطور می توانید از مطالب مفیدی که در خصوص امور کافی نتی تولید می کنیم نیز بهره مند شوید. </p>
        <Button variant={"ghost"} className="not-prose">
          <Link href="/blog" title="مقاله های ما">مقاله های ما ←</Link>
        </Button>
        <h2>تیم ما</h2>
        <p>با تیم ما آشنا شوید. من زکریا شیرمحمدلی و برادرم همرا شیرمحمدلی کافی نت دی رو افتتاح کرده ایم و خدمات این کافی نت رو به شما عزیزان ارائه می دهیم. </p>
        <Authors />
    </article>
  
</section>

</Layout>
