---
import type { REVIEW } from "@/consts";

import { Card, CardContent, CardFooter } from "./ui/card";
import AvatarComponent from '@/components/ui/avatar'
import { cn } from '@/lib/utils'

type Props = {
  review: REVIEW 
}

const review = Astro.props.review

const {name, quote, image} = review

console.log(image)

---

<Card className="pt-10">
    <CardContent>
        <p>{quote}</p>
     </CardContent>
     <CardFooter>
        <AvatarComponent
        client:load
        src={image}
        alt={`Avatar of ${name}`}
        fallback={name[0]}
        className={'size-8 rounded-full ml-2'}
      />
      <strong>{name}</strong>
    </CardFooter>   
</Card>
